<extend name="Public/common" />
<block name="body">
<style>
    .box{
        margin: 0 auto;
    }
    .box table{
        border-collapse: collapse;
        border-spacing: 0;
        border:1px solid #e5e5e5;
    }
    .box td,tr{
        padding: 0;
        border:1px solid #e5e5e5;
        width:65px;
        height: 30px;
        text-align: center;
    }
    .box td,tr h1{
        font-size: 15px;
        color: #000000;
    }
    .bg{
        background: #e5e5e5;
        padding: 0;
        border:1px solid #e5e5e5;
        width:65px;
        height: 30px;
        text-align: center;
    }
    .fl{
        float:left;
        margin-right: 15px;
    }
    .closee{
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
    }
</style>

<div class="box" style="padding-top: 15px;">

    <table class="fl">
        <tr>
            <td><h1>id</h1></td>
            <td><h1>交易号</h1></td>
            <td><h1>会员昵称</h1></td>
            <td><h1>收货人</h1></td>
            <td><h1>联系电话</h1></td>
            <td><h1>省份</h1></td>
            <td><h1>城市</h1></td>
            <td><h1>区域</h1></td>
            <td><h1>金额</h1></td>
            <td><h1>付款时间</h1></td>
            <td><h1>状态</h1></td>
        </tr>
        <volist name="info" id="vo" key="k">
            <tr <?php if($k%2 ==0){ ?> class="bg" <?php } ?> >
                <td>{$vo.id}</td>
                <td>{$vo.order_no}</td>
                <td>{$vo.nick_name}</td>
                <td>{$vo.name}</td>
                <td>{$vo.phone}</td>
                <td>{$vo.province}</td>
                <td>{$vo.city}</td>
                <td>{$vo.area}</td>
                <td>{$vo.pay_amount}</td>
                <td>{$vo.pay_time}</td>
                <td>{$vo.status}</td>
            </tr>
        </volist>
        <tr>
            <td colspan="7" style="text-align: right;" >
                总计:
            </td>
            <td colspan="3" style="color: red;text-align: left;">{$sum|default=0}元</td>
        </tr>
    </table>
    <div class="closee fl"><a style="color: #753d3d;" href="{:U('Project/lorders',array('id'=>$id))}">导出</a></div>
    <div class="closee fl" id="close"><a href="{:U('Project/index')}">返回</a></div>

</div>

</block>