<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <link rel="stylesheet" href="/public/Home/css/common.css">
    <link rel="stylesheet" href="/public/Home/css/seting.css">
    <script src="/public/Home/js/jquery-1.7.1.min.js"></script>
</head>
<body>
<div class="rule">
    <h1>公司概况：</h1>
        <p>客户支撑整个楼市的发展，中国房产发展至下半场，客户流失成为所有地产经纪人的痛点。</p>
        <p>如何不让客户不流失？持续为房产经纪人创造利益？客户转介便成为最直接有效的解决方法。</p>
        <p>厦门市房客行信息技术有限公司一直着力于解决这个行业痛点，房客行移动端也应此而生,房客行是国内首家零门槛互联网房产客户转介平台，为房产经纪人提供最为全面的房源楼盘信息，并且经纪人入驻房客行零门槛、零费用，用户成交高佣金。同时购房者也拥有更宽的房源选择面，购买到自己最心仪的爱宅。</p>
    <p> 房客行信息技术有限公司设立于厦门，以厦门为中心，辐射厦漳泉地区，未来将持续向全国扩散。房客行的迅速崛起，将为开发商、经纪公司、房产经纪人、购房者搭建了一个高效、高质量服务、高公信力的房产信息服务平台。</p>

        <h1>公司文化：</h1>
            <p>房客行以“专注客户转介，全心服务经纪人与购房者”为宗旨，以满足经纪人客户转介需求为中心，不忘初心，通过专业的水平与不懈努力，致力成为房产客户转介行业的佼佼者，房客行将坚持初心致力成长为客户转介此细分领域的最佳服务商。</p>

            <h2>公司服务：</h2>
            <p>经纪人可通过房客行了解到全面的房源信息，结合手里有购房意向的客户，帮助其买到满意的房源，同时赚取高点数佣金。</p>
            <h1>1、100%真实房源：</h1>
            <p>房客行平台上的每一个项目楼盘，均是合法规范的楼盘代销，房源信息真实有效。</p>
            <h1>2、最全面的房源信息：</h1>
            <p>房客行房源信息是厦漳泉地区真实房源最全面的一家房产信息平台，房客行致力服务于房产经纪人的更舒适的用户体验，与厦漳泉地区大部分一手楼盘签订平台代销合约。</p>
            <h1>3、优质的客户服务：</h1>
            <p>房客行有专业客服团队服务您的客户，房客行提供客户带看服务，专业的司机全程接送服务。全面优质的服务，深受经纪人与购房者赞赏，成交量在房产信息平台行业名列前茅。</p>
            <h1>4、高额的佣金：</h1>
            <p>经纪人可在房客行平台获得行业高点数佣金，高点数佣金是经纪人将房客行平台作为客户转介首要选择的重点因素；其次房客行的快速结佣模式，更是让经纪人节省了大部分的等待时间。</p>
            <p>省心、放心、高效、优质服务，是房客行给经纪人的承诺。</p>

            <h1>售后：</h1>
            <p>经纪人报备客户以后，房客行将为购房者提供最为全面的优质服务，提供专车接送带看房源服务。</p>
            <p>经纪人可登录房客行平台后，查看自己报备客户的实时状态，可实时与房客行平台或者客户联系进度与用户体验。</p>
            <p>房客行致力为经纪人与购房者提供最为优质的服务。</p>

</div>
</body>
</html>