<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>房东账单列表</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div id="toolbar">
                        <div class="" style="display: none">
                            <select id="type" class="form-control select-huge">
                                <option value="0">处理状态</option>
                                <foreach name="StatusCaption" item="sc">
                                    <option value="{$key}">{$sc}</option>
                                </foreach>
                            </select>
                           <label class="control-label">申请时间：</label>
                            <input class="form-control input-huge" id="beginTime" name="beginTime" value="" type="text" placeholder="起始时间"> -
                            <input class="form-control input-huge" id="endTime" name="endTime" value="" type="text" placeholder="结束时间">
                            <button id="searchButton" class="btn btn-success">
                                搜索
                            </button>
                            <button id="generateButton" class="btn btn-success">
                                生成房东提现记录
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="Modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var $table = $('#table');
        // laydate({elem: '#beginTime', format: 'YYYY-MM-DD',event: 'focus'});
        // laydate({elem: '#endTime', format: 'YYYY-MM-DD', event: 'focus'});

        $table.bootstrapTable({
            url: "{:U('Withdrawal/load_bills')}",
            toolbar: "#toolbar",
            // search: true,
            showRefresh: true,
            showColumns: true,
            showExport: true,
            minimumCountColumns: 5,
            pagination: true,
            idField: "id",
            clickToSelect : true,
            pageSize : 10,
            pageNumber : 1,
            pageList: [10,20,50,100,"ALL"],
            showFooter: false,
            sidePagination: "server",
            //responseHandler: "responseHandler",
            // formatSearch: function(){return '请输入会员名称'},
            height: getHeight(),
            formatLoadingMessage:function(){
                return '正在加载，请稍候...';
            },
            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return '第 ' + pageFrom + ' - ' + pageTo + ' 记录，共 ' + totalRows + ' 条记录';
            },
            formatRecordsPerPage:function(pageNumber){
                return '每页 '+pageNumber + ' 记录';
            },
            formatNoMatches: function()
            {
                return '没有数据！';
            },
            columns: [
                [
                    {field: 'start_date',title: '账单时间', align: 'center', formatter: function(value, row){
                        return row.start_date + ' ~ ' + row.end_date;
                    }},
                    {field: 'buy_user_name',title: '租客', align: 'center'},
                    {field: 'gift_price',title: '优惠金额', align: 'center'},
                    {field: 'total_price', title: '应付金额', align: 'center'},
                    {field: 'statusCaption', title: '账单状态', align: 'center', formatter: function(value, row){
                        if(row['pay_state'] == '1') {
                            return '微信支付'
                        } else if (row.is_pay == 1) {
                            return '线下收款'
                        } else {
                            return '未支付';
                        }
                    }},
                    {field: 'sell_user_name', title: '房东', align: 'center'},
                    {field: 'create_time', title: '生成时间', align: 'center'}
                ]
            ]
        });
        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
        $("#Modal").on("hidden.bs.modal", function() {
            $table.bootstrapTable('refresh', {});
            $(this).removeData("bs.modal");
        });
        $table.delegate('[name="detail"]','click', function ()
        {
            var id = $(this).attr('data-id');
            $("#Modal").modal({
                remote: "{:U('/Admin/Withdrawal/pay')}?id="+id,
                backdrop: 'static',
                keyboard: false
            });
        });

        $('#type').change(function(){
            search();
        });

        $("#searchButton").on("click",function(){
            search();
        });

        function search(){
            var status = $('#type').val();
            var beginTime = $('#beginTime').val();
            var endTime = $('#endTime').val();
            var str =  '{:U("Withdrawal/loadWithdrawal")}?status='+status+'&beginTime='+beginTime+'&endTime='+endTime;
            $table.bootstrapTable('refresh', {url: str});
        }
        $("#generateButton").on("click", function() {
            swal({
                title: '生成房东提现记录',
                text: '你确定生成当前房东的提现记录',
                showCancelButton: true,
                cancelButton: '取消',
                confirmButtonText: '生成'
            }, function() {
                $.ajax({
                    url: "{:U('/Withdrawal/create_withdrawal')}",
                    dataType:"json",
                    type: "post"
                }).done(function(data) {
                    console.log('resp data', data);
                    if(data.status==0){
                        swal(data.info);
                    } else {
                        swal({
                            title:"生成成功！",
                            text:"总记录数：" + data.total_num + ", 共 " + data.success + " 条生成成功, 共 " + data.error + " 条生成失败",
                            type:"success"
                        });
                        $table.bootstrapTable('refresh');
                    }
                }).error(function(data) {
                    swal("删除失败！", "删除操作失败了!", "error");
                });
            });
        })
    </script>
</block>