<div id="bottom-container">
    <div class="left-content item">
        <if condition="$isLogin">
            <div class="item favored" id="liked" <?php if(!$favorite) echo 'style="display:none;"';?> >已收藏<img src="__PUBLIC__/Home/images/btbar_fav2.png"/></div>
            <div class="item" id="like" <?php if($favorite) echo 'style="display:none;"';?> >收藏<img src="__PUBLIC__/Home/images/btbar_fav1.png"/></div>
            <div class="item" id="online-ask">在线咨询<img src="__PUBLIC__/Home/images/btbar_talk1.png"/></div>
            <div class="item" id="phone-ask">电话咨询<img src="__PUBLIC__/Home/images/btbar_phone1.png"/></div>
        <else/>
            <a class="item" href="{:U('Login/code_login')}">收藏<img src="__PUBLIC__/Home/images/btbar_fav1.png"/></a>
            <a class="item" href="{:U('Login/code_login')}">在线咨询<img src="__PUBLIC__/Home/images/btbar_talk1.png"/></a>
            <a class="item" href="{:U('Login/code_login')}">电话咨询<img src="__PUBLIC__/Home/images/btbar_phone1.png"/></a>
        </if>
    </div>
    <div class="right-content item">
        <if condition="$isLogin">
            <a class="item appoint" href="{:U('Info/info', array('houseId'=>$house['id'],'houseType'=>$houseType))}">预约看房</a>
            <div class="item record" id="record">客户报备</div>
        <else/>
            <a class="item appoint" href="{:U('Login/code_login')}">预约看房</a>
            <a class="item record" href="{:U('Login/code_login')}">客户报备</a>
        </if>
    </div>
</div>