.top-container {
    padding: 8px 15px 15px 15px;
    display: flex;
}
.top-container-left {
    display: flex;
    padding-top: 8.5px;
}
.top-container-left p {
    font-size: 15px;
    color: #000000;
}
.top-container-left img {
    width: 12px;
    height: 7px;
    margin: 7px 10px 0 10px;
    position: inline;
}
.top-container-right {
    position: relative;
    width:76%;
}
.top-container-right img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    right: 12px;
}
.top-container-right input {
    width:100%;
    height: 38px;
    padding: 8px 0px 8px 45px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 19px;
    background: #e5e5e5;
}
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 6px 8px 6px 8px; */
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    background: #f6f6f6;
    z-index: 100;
    height: 30px;
    width: 100%;
}
.text-container ul {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.text-container ul li {
    display: flex;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.text-container ul li p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}
.text-container ul li img {
    width: 12px;
    height: 7px;
    margin: 2px;
}
.card-container {
    display: flex;
    padding: 12px 15px 12px 15px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    background: white;
    flex-direction: column;
}
.card-container img {
    width: 95px;
    height: 75px;
    margin-right: 13px;
}
.card-container-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.item-top-container {
    display: flex;
}

.item-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(242, 242, 242, 1);
    margin-top: 8px;
    padding: 2px 0 2px 0;
    color: #999999;
    font-size: 13px;
}

.item_right_content {
    display: flex;
    flex: 1;
}

.item_left_content {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.item_left_content .gray_text {
    font-size: 10px;
    color: gray;
}
.item_left_content .tag {
    background-color: #0d8ddb;
    color: white;
    font-size: 10px;
    padding: 0 2px 0 2px;
    border-radius: 1px;
}
.solid {
    /*position: fixed;*/
    /*top: 0%;*/
    /*padding-top:10px;*/
}
.card-container-right h1 {
    font-size: 15px;
    color: #000000;
    font-weight: normal;
    line-height: 18px;
}
.right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.right img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.right p {
    font-size: 14px;
    color: #44c3cc;
    line-height: 24px;
}
.card-child-1 {
}
.price p {
    font-size: 13px;
    color: #FF0000;
    display: inline;
    font-weight: bold;
}
.card-child-1 span {
    font-size: 13px;
    color: #000000;
    display: inline;

}
.card-child-2 {
    display: flex;
    margin-bottom: 2px;
}
.childs-1{
    padding: 1px 6px;
    background: #2c8be9;
    text-align: center;
}
.childs-1 p{
    font-size: 12px;
    color: #ffffff;
}
.childs-2 {
    padding: 1px 6px;
    background: #44c3cc;
    text-align: center;
}
.childs-2 p {
    font-size: 12px;
    color: #000000;
}
.last-child {
}
.last-child p {
    font-size: 12px;
    color: #c2c2c2;
    line-height: 20px;
}

.texts img {
    display: none;
    width: 330px;
    height: 198px;

}
.test {
    width: 100%;
}
.test ul{
    width: 100%;
    height: 230px;
    overflow: hidden;
    display: flex;
    position: relative;
}
.test ul li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.test ul li img {
    width: 100%;
    height: 230px;
}
.test ul p {
    font-size: 13px;
    color: #ffffff;
    position: absolute;
    z-index: 101;
    bottom: 5px;
    right: 12px;
}
.mid-container {
    width: 91%;
    padding: 15px;
}
.mid-container-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mid-text-left {
    display: flex;
    vertical-align: bottom;
}
.mid-text-left h1 {
    font-size: 17px;
    color: #333333;
    font-weight: normal;
}
.mid-text-left p {
    font-size: 12px;
    color: #8c8c8c;
    margin: 6px 0 0 18px;
}
.mid-text-right {
    display: flex;
}
.mid-text-right h2 {

    font-size: 16px;
    color: red;
}
.mid-text-right p {
    font-size: 12px;
    color: #8c8c8c;
    margin: 4px 0 0 3px;
}
.mid-container-mid {
    margin: 10px 0 8px 0;
    padding: 0px;
}
.mid-container-mid p {
    font-size: 12px;
    color: #666666;
}
.mid-container-blow {

}
.mid-container-blow ul {
    display: flex;
}
.mid-container-blow ul li {
    padding: 0 3px;
    border-radius: 1px;
    margin-right: 6px;
}
.mid-container-blow ul li p {
    font-size: 12px;
    color: #ffffff;
}
.mid-container-blow ul li:nth-of-type(even) {
    background: #f0b027;
}
.mid-container-blow ul li:nth-of-type(odd) {
    background: #dd421b;
}
.mid-container-blow ul li:first-child {
    background: #2c8be9 !important;
}
.mid-container-blow ul li:last-child {
    background: #13af54 !important;
}
.mid {
    width: 100%;
    background: #f2f2f2;
}
.mid ul {
    width: 100%;
    display: flex;
}
.mid ul li {
    height: 38px;
    width: 50%;
    display: flex;
    justify-content: center;
}
.mid ul li img {
    width: 16px;
    height: 16px;
    margin:10px 5px 0 0;
}
.mid ul li p {
    background: inherit;
    font-size: 14px;
    /*color: #2c8be9;*/
    margin:8px 5px 0 0;
}
.color {
    color: #333333 !important;
}
.btn-container ul li a {
    /*color: rgba(0, 0, 0, 0.3) !important;*/
    color: #333333;
}
.active {
    border-bottom: 2px solid #44c3cc;
    height: 36px;
    color: #2c8be9 !important;
}
.text {
    margin: 15px;
}
.text ul li p {
    font-size: 12px;
    color: #666666;
    line-height: 26px;
    margin-right: 10px;
    display: inline;
}
.text ul li span {
    font-size: 12px;
    color: #666666;
    line-height: 26px;
    display: inline;
}
div.ui-loader {
    display: none;
}
.lang {
    width: 100%;
    height: 38px;
    display: flex;
    background: #f2f2f2;
}
.lang img {
    width: 19px;
    height: 19px;
    margin-right: 5px;
}
.lang p {
    font-size: 14px;
    color: #333333;
    margin-right: 5px;
}
.lang span {
    font-size: 12px;
    color: #8c8c8c;
    line-height: 22px;
}
.content {
    padding: 10px;
}
.content ul li {
    width: 47%;
    height: 63px;
    margin: 0 3px 10px 3px;
    border: 1px solid #e5e5e5;
    border-left: 3px solid #c2c2c2;
    float: left;
}
.content ul li h1 {
    font-size: 14px;
    color: #44c3cc;
    margin: 12px 23px;
}
.content ul li p {
    font-size: 12px;
    color: #333333;
    display: inline;
    margin-left: 7px;
}
.contents {
    padding: 10px;
}
.contents ul li {
    width: 40%;
    padding: 10px;
    margin: 0 4px 10px 4px;
    border: 1px solid #e5e5e5;
    float: left;
}

.contents ul li img {
    width: 100%;
}
.contents ul li h1 {
    font-size: 14px;
    color: #44c3cc;
    margin: 12px 23px;
}
.contents ul li p {
    font-size: 12px;
    color: #333333;
    margin-top: 8px;
}
.bottom {
    padding: 15px;
}
.bottom p {
    font-size: 12px;
    color: #666666;
    text-indent: 24px;
    line-height: 18px;
}
.b {
    margin: 15px;
    height: 40px;
    background: #44c3ca;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    line-height: 38px;
    letter-spacing: 5px;
}

.btn-container {
    display: flex;
    background: #fff;
    z-index: 100;
    flex-direction: column;
    /*position: absolute;*/
    /*flex: 1;*/
    width: 100%;
}

.btn-container .bottom_btn {
    display: flex;
    /*flex: 1;*/
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #34BBBE;
    padding: 5px;
    border-radius: 3px;
    border-width: 0;
}

.btn-container ul {
    display: flex;
    flex-direction: column;
    /*flex: 1;*/
    background-color: white;
    padding: 0 8px 0 8px;
}
.btn-container ul li {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 6px 0 6px 0;
}

.btn-container ul a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-container ul a img {
    height: 16px;
    width: 16px
}

.btn-container ul .divider {
    display: flex;
    background-color: lightgray;
    height: 1px;
}

.btn-container ul a .act {
    color: #34BBBE;
}
/*.btn-container ul li:child {*/
    /*font-size: 13px;*/
    /*color: #333333;*/
/*}*/
/*.act {*/
    /*border: 1px solid #44c3cc !important;*/
    /*color: #44c3cc;*/
/*}*/

.close-1 {
    height: 10px;
    width: 1px;
    background: #c2c2c2;
    transform: rotate(45deg);
    position: absolute;
    bottom: 14px;
    right: 90px;
}
.close-2 {
    height: 10px;
    width: 1px;
    background: #c2c2c2;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 14px;
    right: 90px;
}

/*@media screen and (max-width:321px) {*/
    /*.top-container-left p {*/
        /*font-size: 12px;*/
        /*color: #000000;*/
    /*}*/
    /*.li-cont ul li p{*/
        /*width: 73px !important;*/
        /*height: 22.5px;*/
        /*margin: 5px 3px;*/
        /*border-radius: 11.25px;*/
        /*border: 1px solid #c2c2c2;*/
        /*font-size: 13px !important;*/
        /*text-align: center;*/
        /*color: #c2c2c2;*/
        /*line-height: 23px;*/
    /*}*/
    /*.btn-container {*/
        /*width: 97%;*/
        /*height: 90px;*/
        /*background: #fff;*/
        /*display: none;*/
        /*padding: 15px 0 15px 6px;*/
        /*position: absolute;*/
        /*z-index: 100;*/
    /*}*/
    /*.top-container-right input {*/
        /*width:100%;*/
        /*height: 38px;*/
        /*padding: 8px 0px 8px 25px;*/
        /*font-size: 12px;*/
        /*color: rgba(0, 0, 0, 0.5);*/
        /*border-radius: 19px;*/
        /*background: #e5e5e5;*/
    /*}*/
    /*.texts img {*/
        /*width: 280px;*/
    /*}*/
/*}*/
/*@media screen and (min-width:374px) {*/
    /*.contents ul li {*/
        /*width: 41%;*/
        /*padding: 10px;*/
        /*margin: 0 4px 10px 5px;*/
        /*border: 1px solid #e5e5e5;*/
        /*float: left;*/
    /*}*/
    /*.texts img {*/
        /*width: 345px;*/
    /*}*/
/*}*/

/*@media screen and (min-width:413px) {*/
    /*.contents ul li {*/
        /*width: 42%;*/
        /*padding: 10px;*/
        /*margin: 0 4px 10px 5px;*/
        /*border: 1px solid #e5e5e5;*/
        /*float: left;*/
    /*}*/
    /*.texts img {*/
        /*width: 384px;*/
    /*}*/
    /*.btn-container {*/
        /*width: 89%;*/
        /*height: 90px;*/
        /*background: #fff;*/
        /*display: none;*/
        /*padding: 15px 0 15px 45px;*/
        /*position: absolute;*/
        /*z-index: 100;*/
    /*}*/
/*}*/
.hide {
    max-width: 414px;
    height: 300px;
    padding: 20px 15px;
    background: #fff;
    position: absolute;
    top:60px;
    z-index: 1000;
    display: none;
}
.title-hide {
    background: #fff;
    text-align: left;
    border-bottom: 1px solid #f2f2f2;
}
.title-hide p {
    font-size: 16px;
    color: #333333;
    margin: 0 15px 10px 15px;
}
.li-cont {
    padding: 10px 15px;
}
.li-cont ul {
    max-width: 414px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.li-cont ul li p{
    width: 90px;
    height: 22.5px;
    margin: 5px 3px;
    border-radius: 11.25px;
    border: 1px solid #c2c2c2;
    font-size: 15px;
    text-align: center;
    color: #c2c2c2;
    line-height: 23px;
}
/*.act {*/
    /*color: #44c3cc !important;*/
    /*border: 1px solid #44c3cc !important;*/
/*}*/
.close {
    width: 100%;
    height: 280px
}

.filter-container {
    display: flex;
    flex: 1;
    position: fixed;
    flex-direction: column;
    width: 100%;
    /*height: 100%;*/
    z-index: 100;
    margin-top: 30px;
}

#mask {
    display: none;
    flex: 1;
    background: black;
    opacity: 0.349019607843137;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
}

.filter-container .bottom-container {
    display: none;
    flex: 1;
    flex-direction: column;
}

.list-container {
    margin-top: 30px;
}