<extend name="Public/main" />
<block name="css">
    <link rel="stylesheet" href="/public/Home/css/seting.css">
</block>
<block name="header">
    <div class="header">
        <div class="button" onclick="history.back()">
            <img src="/public/Home/images/nav_back_icon.png" alt="" width="22" height="22"/>
        </div>
        <div class="title">
            <span>平台规则</span>
        </div>
        <div class="button"></div>
    </div>
</block>
<block name="main">
    <div class="content-container">
        <div class="rule">
            <p>
                厦门市房客行信息技术有限公司（以下简称房客行）在此特别提醒您（用户）在注册成为用户之前，请认真阅读本《用户协议》（以下简称“协议”），确保您充分理解本协议中各条款，并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权注册、登录或使用本协议所涉及的服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
            </p>

            <p>
                本协议约定房客行与用户之间关于“房客行”公众号服务（以下简称“服务”）的权利义务。“用户”是指注册、登录、使用本服务的个人。本协议可由房客行随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可登录公众号查阅最新版协议条款。
            </p>

            <p>
                在房客行修改协议条款后，如果用户不接受修改后的条款，请立即停止使用房客行提供的服务，用户继续使用房客行提供的服务将被视为接受修改后的协议。
            </p>


            <h1>
                一、账号注册
            </h1>
            <p>
                1、用户在使用本服务前需要注册一个“房客行”账号。“房客行”账号应当使用手机号码绑定注册，请用户使用尚未与“房客行”账号绑定的手机号码，以及未被房客行根据本协议封禁的手机号码注册“房客行”账号。房客行可以根据用户需求或产品需要对账号注册和绑定的方式进行变更，而无须事先通知用户。
            </p>

            <p>
                2、在用户注册及使用本服务时，房客行需要搜集能识别用户身份的个人信息以便房客行可以在必要时联系用户，或为用户提供更好的使用体验。房客行搜集的信息包括但不限于用户的姓名、性别、年龄、地址、个人说明等；房客行同意对这些信息的使用将受限于用户个人隐私及保护的约束。
            </p>

            <h1>
                二、用户个人隐私及保护
            </h1>
            <p>
                1、用户在注册账号或使用本服务的过程中，可能需要填写或提交一些必要的信息，如法律法规、规章规范性文件（以下称“法律法规”）规定的需要填写的身份信息。如用户提交的信息不完整或不符合法律法规的规定，则用户可能无法使用本服务或在使用本服务的过程中受到限制。
            </p>

            <p>
                2、个人隐私信息是指涉及用户个人身份或个人隐私的信息，比如，用户真实姓名、手机号码、手机设备识别码、IP地址。非个人隐私信息是指用户对本服务的操作状态以及使用习惯等明确且客观反映在房客行服务器端的基本记录信息、个人隐私信息范围外的其它普通信息，以及用户同意公开的上述隐私信息。
            </p>

            <p>
                3、房客行未经用户同意不向任何第三方公开、 透露用户个人隐私信息。但以下特定情形除外：
            </p>
            <p>
                (1) 房客行根据法律法规规定或有权机关的指示提供用户的个人隐私信息；
            </p>

            <p>
                (2) 由于用户将其用户密码告知他人或与他人共享注册帐户与密码，由此导致的任何个人信息的泄漏，或其他非因房客行原因导致的个人隐私信息的泄露；
            </p>

            <p>
                (3) 用户自行向第三方公开其个人隐私信息；
            </p>

            <p>
                (4) 用户与房客行及合作单位之间就用户个人隐私信息的使用公开达成约定，房客行因此向合作单位公开用户个人隐私信息；
            </p>

            <p>
                (5) 任何由于黑客攻击、手机病毒侵入及其他不可抗力事件导致用户个人隐私信息的泄露。
            </p>

            <h1>
                4、用户同意房客行可在以下事项中使用用户的个人隐私信息：
            </h1>

            <p>
                (1) 房客行向用户及时发送重要通知，如本协议条款的变更；
            </p>

            <p>
                (2) 房客行内部进行审计、数据分析和研究等，以改进房客行的产品、服务和与用户之间的沟通；
            </p>

            <p>
                (3) 依本协议约定，房客行管理、审查用户信息及进行处理措施；
            </p>


            <p>
                (3) 用户自行向第三方公开其个人隐私信息；
            </p>

            <p>
                (4) 适用法律法规规定的其他事项。
            </p>

            <p>
                除上述事项外，如未取得用户事先同意，房客行不会将用户个人隐私信息使用于任何其他用途。
            </p>



            <h1>
                三、平台合作规则
            </h1>
            <p>
                1、房客行平台提供房源信息（均价、位置、户型等）、佣金规则、合作规则于用户参考。
            </p>

            <p>
                2、用户根据客户类型及个人意愿将客户报备至某个房源。
            </p>

            <p>
                3、房客行销售团队根据用户报备信息联系客户，告知房源价值，提供专车带看服务，促进客户在用户报备的房源成交。
            </p>

            <p>
                4、若客户对用户报备的房源不感兴趣，房客行销售团队将向客户介绍其他合适房源，佣金以实际成交房源计算。
            </p>

            <h1>
                四、知识产权声明
            </h1>

            <p>
                1、房客行在本服务中所涉及的图形、文字或其组成，以及其他房客行标志及产品、服务名称（以下统称“房客行标识”），其著作权或商标权归房客行所有。未经房客行事先书面同意，用户不得将房客行标识以任何方式展示或使用或作其他处理，也不得向他人表明用户有权展示、使用、或其他有权处理房客行标识的行为。
            </p>

            <p>
                2、房客行为用户提供网络服务而使用的任何公众号（包括但不限于公众号中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、 随附的帮助材料）的一切权利均属于该公众号的著作权人，未经该公众号的著作权人许可，用户不得对该公众号进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）等。
            </p>

            <h1>
                五、免责声明
            </h1>

            <p>
                1、因房源信息（价格、户型等）是时刻变动，房客行不承诺其准确性。
            </p>

            <p>
                2、房客行提供客户带看服务，经纪人也可自主带看客户，但到访前需与房客行客服专员联系，进行有效客户带看流程，如若客户自行到访或经纪人带看无符合开发商规则，导致成交无效，房客行将不承担任何责任。
            </p>

            <p>
                3、因客户于开发商系统重复、超过有效期成交、认购后未签约、银行贷款审批未通过等他方因素导致的非正常情况，可能导致佣金无法发放或无法全部发送，房客行不承担任何责任。
            </p>

            <p>
                4、因开发商申请破产、跑路、债务危机等因素导致无法正常结佣，房客行不承担任何责任。
            </p>

            <p>
                5、开发商佣金实时变动，成交具体佣金以客户成交日期的开发商佣金政策为准。
            </p>

            <p>
                6、因用户银行卡长期未绑定、手机丢失导致银行卡、支付宝被盗绑等由用户原因引起的结佣拖延，房客行不承担任何责任。
            </p>

            <p>
                7、用户明确同意其使用本服务所存在的风险将完全由其本人承担；因其使用本服务而产生的一切后果也由其本人承担。房客行对用户及任何第三方不承担任何责任。
            </p>

            <p>
                8、用户理解并确认，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，房客行将努力在第一时间与相关单位配合，及时进行修复，但是由此给用户或第三方造成的损失，房客行及合作单位在法律允许的范围内免责。
            </p>

            <p>
                9、本服务同大多数互联网服务一样，受包括但不限于用户原因、网络服务质量、社会环境等因素的差异影响，可能受到各种安全问题的侵扰，如他人利用用户的资料，造成现实生活中的骚扰；用户下载安装的其它公众号或访问的其他网站中含有“特洛伊木马”等病毒，威胁到用户的手机信息和数据的安全，继而影响本服务的正常使用等等。用户应加强信息安全及使用者资料的保护意识，要注意加强密码保护，以免遭致损失和骚扰。
            </p>

            <p>
                10、用户理解并确认，本服务存在因不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险，因此导致的用户或第三方任何损失，房客行不承担任何责任。
            </p>

            <p>
                11、房客行依据法律法规、本协议约定获得处理违法违规或违约内容的权利，该权利不构成房客行的义务或承诺，房客行不能保证及时发现违法违规或违约行为或进行相应处理。
            </p>

            <h1>
                六、服务终止
            </h1>
            <p>
                1、鉴于网络服务的特殊性，用户同意房客行有权随时变更、中断或终止部分或全部的服务。房客行变更、中断或终止的服务，房客行应当在变更、中断或终止之前通知用户。
            </p>

            <p>
                2、如发生下列任何一种情形，房客行有权变更、中断或终止向用户提供的服务，而无需对用户或任何第三方承担任何责任：
            </p>

            <p>
                (1) 根据法律规定用户应提交真实信息，而用户提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明；
            </p>

            <p>
                (2) 用户违反相关法律法规或本协议的约定；
            </p>

            <p>
                (3) 按照法律规定或有权机关的要求；
            </p>

            <p>
                (4) 出于安全的原因或其他必要的情形。
            </p>

            <h1>
                七、法律保护
            </h1>

            <p>
                1、本协议的成立、生效、履行、解释及纠纷解决，均受到中华人民共和国大陆地区法律（不包含冲突法）法律管辖。
            </p>

            <p>
                2、用户理解并同意，房客行有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应承担由此而产生的一切法律责任。
            </p>

            <p>
                3、用户理解并同意，因用户违反本协议约定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户应当赔偿房客行与合作公司、关联公司，并使之免受损害。
            </p>

            <p>
                4、本协议的最终解释权归房客行所有。
            </p>
        </div>
    </div>
</block>
