<extend name="Public/main"/>
<block name="css">
</block>
<block name="header">
    <div class="header">
        <div class="button" onclick="history.back()">
            <img src="/public/Home/images/nav_back_icon.png" alt="" width="22" height="22"/>
        </div>
        <div class="title">
            <span>交易流程</span>
        </div>
        <div class="button"></div>
    </div>
</block>
<block name="main">
    <div class="content-container">
        <img src="__PUBLIC__/Home/images/img_service_03.png" width="100%">
    </div>
</block>
<block name="js">
    <script type="text/javascript">

    </script>
</block>
