<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>需求定制列表</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div id="toolbar">
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="Modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
<script type="text/javascript">
    var $table = $('#table'), selections = [];
    $table.bootstrapTable({
        url: "{:U('Requirement/loadRequirementList')}",
        toolbar: "#toolbar",
        method: 'GET',
        search: true,
        showRefresh: true,
        showColumns: true,
        showExport: true,
        minimumCountColumns: 5,
        pagination: true,
        idField: "id",
        sortName: "aid",
        //detailFormatter: "detailFormatter",
        clickToSelect : true,
        order: "desc",
        pageSize : 10,
        pageNumber : 1,
        pageList: [10,20,50,100,"ALL"],
        showFooter: false,
        sidePagination: "server",
        //responseHandler: "responseHandler",
        formatSearch: function(){return '请输入用户名称、手机号'},
        height: getHeight(),
        formatLoadingMessage: function(){
            return '正在加载，请稍候...';
        },
        formatShowingRows: function (pageFrom, pageTo, totalRows) {
            return '第 ' + pageFrom + ' - ' + pageTo + ' 记录，共 ' + totalRows + ' 条记录';
        },
        formatRecordsPerPage: function(pageNumber){
            return '每页 '+pageNumber + ' 记录';
        },
        formatNoMatches: function()
        {
            return '没有数据！';
        },
        columns: [
            //{checkbox: true, align: 'center', valign: 'middle'},
            {field: 'id',title: '需求id', align: 'center',sortable: true},
            {field: 'userName',title: '会员姓名', align: 'center'},
            {field: 'userPhone', title: '会员手机号', align: 'center'},
            {field: 'username',title: '联系姓名', align: 'center'},
            {field: 'phone', title: '联系手机号', align: 'center'},
            {field: 'minPrice',title: '最低预算（万元）', align: 'center'},
            {field: 'maxPrice', title: '最高预算（万元）', align: 'center'},
            {field: 'minSquare',title: '最小面积（㎡）', align: 'center'},
            {field: 'maxSquare', title: '最大面积（㎡）', align: 'center'},
            {field: 'huxingCaption', title: '户型要求', align: 'center'},
            {field: 'chaoxiangCaption', title: '朝向要求', align: 'center'},
            {field: 'zhuangxiuCaption', title: '装修要求', align: 'center'},
            {field: 'area', title: '区域范围', align: 'center'},
            {field: 'createTime', title: '提交时间', align: 'center'},
        ],
    });

    $(window).resize(function () {
        $table.bootstrapTable('resetView', {
            height: getHeight()
        });
    });

</script>
</block>