<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">添加奖励</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" id="Form" method="post" action="{$self}">
        <input type="hidden" name="id" value="{$id}" />
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="reward">奖励</label>
                <div class="col-sm-4">
                    <input class="form-control" id="reward" type="text" name="reward" value=""/>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
    <button type="button" class="btn btn-primary" id="submit">保存</button>
</div>
<script type="text/javascript">
$(function () {
    $('#Form').bootstrapValidator({
        live: 'disabled',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields:{
            reward: {
                validators:{
                    notEmpty:{
                        message:'不能为空'
                    }
                }
            }
        }
    });
    $("#submit").click(function(){
        var $form = $('#Form');
        $form.bootstrapValidator('validate');
        if(!$form.data('bootstrapValidator').isValid())
            return;
        $.post($form.attr('action'), $form.serialize(), function(result) {
            if(result.status==1){
                swal({
                    title:"操作成功！",
                    text:result.info,
                    type:"success"
                },function(){
                    $('#Modal').modal('hide');
                });
            }else{
                toastr.warning(result.info);return false;
            }
        }, 'json');
    });
});
</script>