<foreach name="houseList" item="house">
    <div class="recommend-item" onclick="javascript:window.location.href='{:U(\'Lists/newHouseDetail\', array(\'id\'=>$house[\'id\']))}'">
        <div class="main-content">
            <div class="recommend-item-img">
                <img src="{$house.primaryImage|default='/public/no_photo.png'}" alt="图片"/>
            </div>
            <div class="houseInfo">
                <span class="title">{$house.name}</span>
                <div class="attr">
                    <div class="left">
                        <span>{$house.areaCaption}</span>
                        <span>
                            <if condition="!empty($house['minHouseRoom']) && !empty($house['maxHouseRoom'])">
                                <?php if($house['minHouseRoom'] != $house['maxHouseRoom']){
                                    echo $house['minHouseRoom'].'-'.$house['maxHouseRoom'].'室';
                                } else{
                                    echo $house['maxHouseRoom'].'室';
                                }?>
                            </if>
                            <if condition="(!empty($house['minHouseRoom']) || !empty($house['maxHouseRoom'])) && (!empty($house['minSquare']) || !empty($house['maxSquare']))">|</if>
                            <if condition="!empty($house['minSquare']) && !empty($house['maxSquare'])">
                                <?php if($house['minSquare'] != $house['maxSquare']){
                                    echo $house['minSquare'].'-'.$house['maxSquare'].'㎡';
                                } else {
                                    echo $house['maxSquare'].'㎡';
                                }?>
                            </if>
                            <if condition="empty($house['minHouseRoom']) && empty($house['maxHouseRoom']) && empty($house['minSquare']) && empty($house['maxSquare'])">敬请关注</if>
                        </span>
                    </div>
                    <div class="right">
                        <span style="flex-direction: row">
                            <!--<span class="money">{:renderMoney($house['minTotalPrice'], 0)}</span>-->
                            <!--<span>万元/套起</span>-->
                            <span class="money">
                                <if condition="$house['minTotalPrice'] gt 0">{:renderMoney($house['minTotalPrice'])}</if>
                                <if condition="!($house['minTotalPrice'] gt 0) && $house['minPrice']">{:renderMoney($house['minPrice'])}</if>
                            </span>
                            <span>
                                <if condition="$house['minTotalPrice'] gt 0">万元/套起</if>
                                <if condition="!($house['minTotalPrice'] gt 0) && $house['minPrice']">元/㎡起</if>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="label">
                    <span class="first">{$house.stateCaption}</span>
                    <span class="second">{$house.typeCaption}</span>
                    <?php $classMap=array('1'=>'first', '2'=>'second', '0'=>'third',)?>
                    <foreach name="house['tagList']" item="tag" key="key">
                        <span class="{$classMap[$key%3]}">{$tag}</span>
                    </foreach>
                </div>
            </div>
        </div>
        <if condition="$house['commission']">
            <div class="bottom-content">
                <span>佣金： {$house.commission}</span>
            </div>
        </if>
    </div>
</foreach>

