html #layui_layer_skinseaningstylecss{display:none; position: absolute; width:1989px;}

body .layer-ext-lmy .layui-layer-title{ background: #6294d8; height: 40px; padding-left: 16px; line-height: 40px; border-bottom: 0; font-size: 16px; color: #FFF;}
body .layer-ext-lmy .layui-layer-content{ overflow: hidden;}
body .layer-ext-lmy .layui-layer-setwin{ top: 13px; right: 18px;}
body .layer-ext-lmy .layui-layer-ico{ background: url(./close.png) no-repeat; width: 15px; height: 15px;}
body .layer-ext-lmy .layui-layer-ico:hover{ background-position: 0 0;}
body .layer-ext-lmy .layui-layer-btn{ min-width: 300px; padding: 31px 0;}
body .layer-ext-lmy .layui-layer-btn a{ background: #6294d8; width: 96px; height: 39px; margin: 0 5px; padding: 0; line-height: 39px; font-weight: normal; color: #FFF;}
body .layer-ext-lmy .layui-layer-btn .layui-layer-btn1{ background: #c3c3c3;}