<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">修改资料</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" id="defaultForm" method="post" action="{$self}">
        <input type="hidden" name="id" value="{$info.EmployeeID}" />
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label">头像</label>
                <div class="col-sm-4">
                    <input type="hidden" id="Pic" name="Pic" value="{$info.Pic}" />
                    <img src="{$info.Pic|default='__PUBLIC__/no_photo.png'}"  id="photo_preview"  style="height:60px"/>
                    <div style="padding: 5px 0 0 0;">
                        <a href="javascript:void(0)" class="" id="btn-upload">上传</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Name">姓名</label>
                <div class="col-sm-4">
                    <input class="form-control" id="Name" name="Name" type="text" value="{$info.Name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">性别</label>
                <div class="col-sm-4">
                    <input  name="Sex" type="radio" value="1" checked="checked" /> 男
                    <input  name="Sex" type="radio" value="2" <if condition="$info['Sex'] eq 2">checked="checked"</if> /> 女
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Position">职位</label>
                <div class="col-sm-4">
                    <input class="form-control" id="Position" name="Position"  value="{$info.Position}" type="text" />
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Mobile">手机</label>
                <div class="col-sm-4">
                    <input class="form-control" id="Mobile" name="Mobile"  value="{$info.Mobile}" type="text" />
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Email">邮箱</label>
                <div class="col-sm-4">
                    <input class="form-control" id="Email" name="Email"  value="{$info.Email}" type="text" />
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Note">备注</label>
                <div class="col-sm-6">
                    <input class="form-control" id="Note" name="Note"  value="{$info.Note}" type="text" />
                </div>
            </div>
        </fieldset>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
    <button type="button" class="btn btn-primary" id="submit">保存</button>
</div>
<script type="text/javascript" src="__PUBLIC__/Static/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    $("#submit").click(function(){
        $("#defaultForm").submit();
    })
    /*
    $(document).ready(function() {
        $('#defaultForm')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        LoginName: {
                            message: '账号不可用',
                            validators: {
                                notEmpty: {
                                    message: '账号不能为空'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: '账号长度6-30'
                                },
                                /*remote: {
                                 url: 'remote.php',
                                 message: '账号不可用'
                                 },
                                regexp: {
                                    regexp: /^[a-zA-Z0-9_\.]+$/,
                                    message: '账号格式不正确'
                                }
                            }
                        }
                    }
                })
                .on('success.form.bv', function(e) {
                    // Prevent form submission
                    e.preventDefault();
                    // Get the form instance
                    var $form = $(e.target);
                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');
                    // Use Ajax to submit form data
                    $.post($form.attr('action'), $form.serialize(), function(result) {
                        if(result.status==1){
                            swal({
                                title:"操作成功！",
                                text:result.info,
                                type:"success"
                            },function(){
                                $('#defaultForm').bootstrapValidator('resetForm', true);$('input').val('');$('#addCustomer').modal('hide');
                            });
                        }else{
                            toastr.warning(result.info);return false;
                        }
                    }, 'json');
                });
    });
    */
    $(function () {
        //设置图片上传插件
        $("#btn-upload").uploadify({
            height: 25,
            swf: '/public/Static/uploadify/uploadify.swf',
            uploader: "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
            width: 80,
            buttonClass: "l-btn",
            buttonText: $("#btn-upload").text(),
            onUploadSuccess: function (file, data, response) {
                data = $.parseJSON(data);
                if (data.status) {
                    $("#photo_preview").attr("src", data.data);
                    $("#Pic").val(data.data);
                }
                else {
                    show_alert(data.info);
                }
            }
        });
    });
</script>