<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>领券列表</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div id="toolbar">
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="Modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="/public/Static/moment.js"></script>
    <script type="text/javascript">
        var $table = $('#table'), selections = [];
        $table.bootstrapTable({
            url: "{:U('UserCard/loadList')}",
            toolbar: "#toolbar",
            method: 'GET',
            search: true,
            showRefresh: true,
            showColumns: true,
            showExport: true,
            minimumCountColumns: 5,
            pagination: true,
            idField: "id",
            sortName: "aid",
            //detailFormatter: "detailFormatter",
            clickToSelect : true,
            order: "desc",
            pageSize : 10,
            pageNumber : 1,
            pageList: [10,20,50,100,"ALL"],
            showFooter: false,
            sidePagination: "server",
            //responseHandler: "responseHandler",
            formatSearch: function(){return '请输入用户名称、手机号'},
            height: getHeight(),
            formatLoadingMessage: function(){
                return '正在加载，请稍候...';
            },
            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return '第 ' + pageFrom + ' - ' + pageTo + ' 记录，共 ' + totalRows + ' 条记录';
            },
            formatRecordsPerPage: function(pageNumber){
                return '每页 '+pageNumber + ' 记录';
            },
            formatNoMatches: function()
            {
                return '没有数据！';
            },
            columns: [
                //{checkbox: true, align: 'center', valign: 'middle'},
                {field: 'id',title: '券id', align: 'center',sortable: true},
                {field: 'houseName',title: '房源', align: 'center', formatter: function(value, row,index)
                    {
                        var url = '';
                        if(row.houseType == 1)
                        {
                            url = "/Lists/newHouseDetail/id/"+row.houseId+".html";
                        } else if(row.houseType == 2)
                        {
                            url = "/OldHouse/detail/id/"+row.houseId+".html";
                        } else if(row.houseType == 3)
                        {
                            url = "/RentalHouse/detail/id/"+row.houseId+".html";
                        }
                        else
                        {
                            return value;
                        }
                        var link = '<a href="'+url+'" target="_blank">'+value+'</a>';
                        return link;
                    }},
                {field: 'userName',title: '会员姓名', align: 'center'},
                {field: 'userPhone', title: '会员手机号', align: 'center'},
                {field: 'updateTime', title: '领取时间', align: 'center', formatter: function (value, row,index) {
                        return moment(value*1000).format('YYYY-MM-DD HH:mm:ss');
                    }},
                {field: 'cardName', title: '券', align: 'center', formatter: function (value, row,index) {
                    return row.name + " " + row.returnCash;
                    }},
            ],
        });

        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });

    </script>
</block>