<extend name="Public/main" />
<block name="css">
    <link rel="stylesheet" href="/public/Home/css/seting.css">
    <style type="text/css">
        html body{background-color: #fff;}
    </style>
</block>
<block name="header">
    <div class="header">
        <div class="button" onclick="history.back()">
            <img src="/public/Home/images/nav_back_icon.png" alt="" width="22" height="22"/>
        </div>
        <div class="title">
            <span>关于平台</span>
        </div>
        <div class="button"></div>
    </div>
</block>
<block name="main">
    <div class="con">
        <div class="logo">
            <img src="/public/Home/images/ICON_FKX_180x180.png" width="72" height="72" />
            <h1>房客行</h1>
            <p>当前版本：V2.0</p>
        </div>
        <div class="discription">房客行----移动互联网房产C2C服务平台，买卖双方直沟通，买房租房全免中介费，新房返高佣，海量租房券等你拿。</div>
        <div class="d-wrap">
            <ul>
                <li><b>租房：</b>100%个人房源，租房全免中介费，汇集精品公寓，海量租房券等你拿。</li>
                <li><b>二手房：</b>100%业主房源，买卖双方直沟通，全免中介费，5800元带看过户全程服务。</li>
                <li><b>新房：</b>购新房高返佣，专业顾问全程服务，全民经纪人，推荐成交即拿现金</li>
            </ul>
        </div>
        <div class="d-contact">
            <p>官方网址：<a href="www.fangkexing.cn">www.fangkexing.cn</a></p>
            <p>联系我们：<a href="tel:0592-310673">0592-3106673</a></p>
        </div>
    </div>
</block>