<div class="recommend-item">
    <div class="item-container">
        <input name="" value="" hidden/>
        <div class="left-container">
            <img src="/public/Home/images/message/icon_logo.png" class="logo"/>
            <span class="red-point"></span>
        </div>
        <div class="right-container">
            <span class="top">房客行官方客服<span></span><span class="date">02:45</span></span>
            <span class="bottom">很高兴为您服务</span>
        </div>
    </div>
</div>

<div class="recommend-item">
    <div class="item-container">
        <div class="left-container">
            <img src="/public/Home/images/message/icon_logo.png" class="logo"/>
            <span class="red-point"></span>
        </div>
        <div class="right-container">
            <span class="top">房客行官方客服<span></span><span class="date">02:45</span></span>
            <span class="bottom">很高兴为您服务</span>
        </div>
    </div>
</div>

<div class="recommend-item">
    <div class="item-container">
        <div class="left-container">
            <img src="/public/Home/images/message/icon_logo.png" class="logo"/>
            <span class="red-point"></span>
        </div>
        <div class="right-container">
            <span class="top">房客行官方客服<span></span><span class="date">02:45</span></span>
            <span class="bottom">很高兴为您服务</span>
        </div>
    </div>
</div>

<div class="recommend-item">
    <div class="item-container">
        <div class="left-container">
            <img src="/public/Home/images/message/icon_logo.png" class="logo"/>
            <span class="red-point"></span>
        </div>
        <div class="right-container">
            <span class="top">房客行官方客服<span></span><span class="date">02:45</span></span>
            <span class="bottom">很高兴为您服务</span>
        </div>
    </div>
</div>

<script>
    // $('.recommend-item').click(function () {
    //     window.location.href = "{:U('Im/detail')}";
    // });
</script>



