<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel"><empty name="Think.get.id">新增<else /> 编辑</empty>店铺</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" id="defaultForm" method="post" action="{$self}">
        <input type="hidden" name="id" value="{$info.id}" />
        <input type="hidden" name="user_id" value="{$info.user_id}" />
        <fieldset>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="shop_name"><span style="color: red;">*</span>&nbsp;店铺名称</label>
                <div class="col-sm-4">
                    <input class="form-control" id="shop_name" type="text" name="shop_name" value="{$info.shop_name}"/>
                </div>
                <label class="col-sm-2 control-label" for="user_name"><span style="color: red;">*</span>&nbsp;申请人姓名</label>
                <div class="col-sm-4">
                    <input class="form-control" id="user_name" type="text" name="user_name" value="{$info.user_name}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="user_phone"><span style="color: red;">*</span>&nbsp;手机号码</label>
                <div class="col-sm-4">
                    <input class="form-control" id="user_phone" type="text" name="user_phone" value="{$info.user_phone}"/>
                </div>
                <if condition="empty($info['cert_img'])">
                <label class="col-sm-2 control-label" for="id_card">身份证号码</label>
                <div class="col-sm-4">
                    <input class="form-control" id="id_card" type="text" name="id_card" value="{$info.id_card}"/>
                </div>
                <else/>
                <label class="col-sm-2 control-label" >营业执照</label>
                <div class="col-sm-4">
                    <input type="hidden" id="cert_img" name="cert_img" value="{$info.cert_img}" />
                    <img src="{$info.cert_img|default='/public/no_photo.png'}" width="100" id="photo_preview" />
                    <input class="upload-btn" type="file" id="btn-upload">
                </div>
                </if>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="bank_user">银行卡户名</label>
                <div class="col-sm-4">
                    <input class="form-control" id="bank_user" name="bank_user"  value="{$info.bank_user}" type="text" />
                </div>
                <label class="col-sm-2 control-label" for="bank_card">银行卡号</label>
                <div class="col-sm-4">
                    <input class="form-control" id="bank_card" name="bank_card"  value="{$info.bank_card}" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="bank_name">开户行名称</label>
                <div class="col-sm-4">
                    <input class="form-control" id="bank_name" name="bank_name"  value="{$info.bank_name}" type="text" />
                </div>
                <label class="col-sm-2 control-label" for="bank_address">开户行地址</label>
                <div class="col-sm-4">
                    <input class="form-control" id="bank_address" name="bank_address"  value="{$info.bank_address}" type="text" />
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label" for="shop_info">店铺简介</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="shop_info" name="shop_info"  value="" type="text" >{$info.shop_info}</textarea>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label" for="FullName"><span style="color: red;">*</span>&nbsp;性别</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<input type="radio" value="1" checked="checked" name="sex">-->
                    <!--男-->
                    <!--<input type="radio" value="2" <if condition="$info['sex'] eq 2">checked="checked"</if> name="sex">-->
                    <!--女-->
                <!--</div>-->
                <!--<label  class="col-sm-2 control-label">会员等级</label>-->
                <!--<div class="col-sm-3">-->
                    <!--{:parse_dropdownlist($info[grade_id],$grade,"grade_id","grade_id","form-control","请选择会员等级")}-->
                <!--</div>-->
            <!--</div>-->
            <!--
            <div class="form-group">
                <label class="col-sm-2 control-label" for="amount"><span style="color: red;">*</span>&nbsp;佣金总金额</label>
                <div class="col-sm-4">
                    <input class="form-control" id="amount" name="amount"  value="{$info.amount}" type="text" />
                </div>
            </div>
            -->
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
    <button type="button" class="btn btn-primary" id="submit">保存</button>
</div>

<script type="text/javascript" src='__PUBLIC__/Static/uploadifive/Sample/jquery.uploadifive.min.js'></script>

<script type="text/javascript">

    //设置图片上传插件
    $(function () {
        $("#btn-upload").uploadifive({
            height: 25,
            swf: '/Public/Static/uploadify/uploadify.swf',
            uploadScript: "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
            width: 80,
            buttonClass: "l-btn",
            buttonText: '上传',
            onUploadComplete: function (file, data) {
                data = $.parseJSON(data);
                if (data.status) {
                    $("#photo_preview").attr("src", data.data);
                    $("#cert_img").val(data.data);
                }
                else {
                    console.log('上传：', data.info);
                }
            }
        });
    });


    $("#submit").click(function(){

        $("#defaultForm").submit();
    })
    $(document).ready(function() {
        $('#defaultForm')

            .bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    shop_name: {
                        message: '店铺名称错误',
                        validators: {
                            notEmpty: {
                                message: '店铺名称不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 30,
                                message: '店铺名称长度2-30'
                            }
                        }
                    },
                }
            })

                .on('success.form.bv', function(e) {
                    // Prevent form submission
                    e.preventDefault();
                    // Get the form instance
                    var $form = $(e.target);
                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');
                    // Use Ajax to submit form data
                    $.post($form.attr('action'), $form.serialize(), function(result) {
                        if(result.status==1){
                            swal({
                                title:"操作成功！",
                                text:result.info,
                                type:"success"
                            },function(){
                                $('#defaultForm').bootstrapValidator('resetForm', true);$('input').val('');$('#addShops').modal('hide');
                            });
                        }else{
                            toastr.warning(result.info);return false;
                        }
                    }, 'json');
                });
    });
</script>