<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>店铺列表</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div id="toolbar">

                           <!-- <a class="btn btn-success" data-toggle="modal" data-target="#addShops" data-remote="/Shops/addShops">
                                新增1
                            </a>-->
                            <button id="addform" class="btn btn-success">
                                新增
                            </button>



                            <button id="edit" class="btn btn-primary" disabled>
                                编辑
                            </button>


                            <button id="remove" class="btn btn-danger" disabled>
                                <i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        <button id="approve" class="btn btn-primary" disabled style="display: none">
                            审批
                        </button>

                    </div>
                    <table id="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-columns="true"
                           data-show-export="true"
                           data-minimum-count-columns="5"
                           data-pagination="true"
                           data-id-field="id"
                           data-sort-name="create_time"
                           data-detail-formatter="detailFormatter"
                           data-click-select = true
                           data-order="desc"
                           data-page-size = "10"
                           data-page-number = "1"
                           data-page-list="[10,20,50,100,ALL]"
                           data-show-footer="false"
                           data-side-pagination="server"
                           data-url="{:U('Shops/load_list')}"
                           data-response-handler="responseHandler">
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addShops" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">批量审批店铺</h4>
                </div>
                <div class="modal-body">
                    请选择审批结果
                </div>
                <div class="modal-footer">
                    <button type="button" data-flag="3" class="btn btn-default approve-btn">审批不通过</button>
                    <button type="button" data-flag="1" class="btn btn-primary approve-btn">审批通过</button>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var $table = $('#table'), $edit=$('#edit');$remove = $('#remove'), selections = [];
        var $add = $('#addform');
        var $approve = $('#approve');

        function initTable() {
            $table.bootstrapTable({
                formatSearch:function(){return '请输入用户ID或店铺名称'},
                height: getHeight(),
                clickToSelect:true,
                formatLoadingMessage:function(){
                    return '正在加载，请稍候...';
                },
                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    return '第 ' + pageFrom + ' - ' + pageTo + ' 记录，共 ' + totalRows + ' 条记录';
                },
                formatRecordsPerPage:function(pageNumber){
                    return '每页 '+pageNumber + ' 记录';
                },
                //queryParams: queryParams, //参数
                columns: [
                    [
                        //{field: 'Number', title: 'Number', formatter: function (value, row, index) {return index + 1;}},
                        {checkbox: true, align: 'center', valign: 'middle'},
                        //{field: 'Sort',title: '排序', align: 'center', valign: 'middle', sortable: true,},
                        {field: 'id',title: '店铺ID', align: 'center',sortable: true},
                        {field: 'shop_name',title: '店铺名称', align: 'center'},
                        {field: 'weixin_no', title: '微信号', align: 'center'},
                        {field: 'zhifubao_no', title: '支付宝号', align: 'center'},
                        {field: 'request_flag', title: '审批状态', align: 'center', formatter: function(value){
                            switch(value){
                                case '2':
                                return '待审核'
                                case '1':
                                return '审核通过'
                                default:
                                return '审核不通过'
                            }
                        }},
                        {field: 'user_id', title: '用户ID', align: 'center'},
                        {field: 'create_time', title: '注册时间', align: 'center'},
                        {title:'操作', align:'center',clickToSelect: false, formatter: function (value, row, index)
                            {
                                return '<button name="edit" data-id="'+row.id+'" class="btn btn-primary">编辑</button>' +
                                    (row.request_flag == 2 ? '  <button name="approve" data-id="'+row.id+'" class="btn btn-primary">审批</button>' : '');
                            }}
                    ]
                ]
            });
            // sometimes footer render error.
            setTimeout(function () {
                $table.bootstrapTable('resetView');
            }, 200);
            $table.on('check.bs.table uncheck.bs.table ' +
                    'check-all.bs.table uncheck-all.bs.table', function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
                $approve.prop('disabled', !$table.bootstrapTable('getSelections').length);
                var checkLen = $table.bootstrapTable('getSelections').length;
                if(checkLen == 1){
                    //$edit.attr("data-remote",""+getIdSelections()+'&t=' + Math.random(1000) );
                    $edit.prop('disabled',false);

                }else{
                    //$edit.attr("data-remote","javascript:void(0);");
                    $edit.prop('disabled',true);
                }
                selections = getIdSelections();
            });
            $remove.click(function () {
                var ids = getIdSelections();
                var param = {ids:ids};
                if(!ids || ids.length == 0){
                    return swal("删除失败！", "请选择删除记录!", "error");
                }
                confirmDelete("{:U('Shops/del_shop')}", param, $table, $remove, "id", ids);
            });
            $add.click(function(){
                $("#addShops").modal({
                    remote: "{:U('Shops/add_shop')}"
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });
            $edit.click(function(){
                $("#addShops").modal({
                    remote: "{:U('Shops/edit_shop')}?id=" + getIdSelections()+'&t=' + Math.random(1000)
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });
            $approve.click(function(){
                var ids = getIdSelections();
                var param = {ids:ids};

                if(!ids || ids.length == 0){
                    return swal("提示", "请选择审批记录!", "error");
                }

                $("#Modal").modal({
                    show: true
                    ,backdrop: 'static'
                    ,keyboard: false
                }).find(".approve-btn").off("click").on("click", function(){
                    param.request_flag = $(this).data("flag");

                    $.ajax({
                        url: "{:U('Shops/apply_shop')}",
                        data:param,
                        dataType:"json",
                        type: "post",
                        async:false
                    }).done(function(result) {
                        $('#Modal').modal('hide');
                        if(result.status==1){
                            swal({
                                title:"操作成功！",
                                text:result.info,
                                type:"success"
                            },function(){
                                $approve.prop('disabled', true);
                                $remove.prop('disabled', true);
                            });
                        }else{
                            toastr.warning(result.info);return false;
                        }
                    }).error(function(data) {
                        $('#Modal').modal('hide');
                        swal("操作失败！", "操作失败了!", "error");
                    });
                });
            });
            $table.delegate('[name="edit"]','click', function ()
            {
                var id = $(this).attr('data-id');
                $("#addShops").modal({
                    remote: "{:U('Shops/edit_shop')}?id=" + id + '&t=' + Math.random(1000)
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });
            $table.delegate('[name="approve"]','click', function ()
            {
                var id = $(this).attr('data-id');
                $("#addShops").modal({
                    remote: "{:U('Shops/approve_shop')}?id=" + id +'&t=' + Math.random(1000)
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });
            $("#Modal").on("hidden.bs.modal", function() {
                $table.bootstrapTable('refresh', {});
                $(this).removeData("bs.modal");
            });


            $(window).resize(function () {
                $table.bootstrapTable('resetView', {
                    height: getHeight()
                });
            });

        }

        function getIdSelections(param) {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id;
            });
        }
        //$("#model").on("hidden.bs.model",function(e){$(this).removeData();});
        $(function () {
            $("#addShops").on("hidden.bs.modal", function() {
                $(this).removeData("bs.modal");
                $edit.prop('disabled',true);
                $table.bootstrapTable('refresh', {silent: true});
            });
            eachSeries(getScript, initTable);
        });

        $('#auto').change(function(){
            search();
        })
        function search(){
            var auto = $('#auto').val();
            var str =  '/index.php/Shops/loadShops?auto='+auto;
            $table.bootstrapTable('refresh', {url: str});
        }
    </script>
</block>