<!DOCTYPE>
<html>
<head>
    <title>房客行</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <script src="/public/Home/js/jquery-1.7.1.min.js"></script>
</head>
<body>
    <style>
        html body {
            padding: 15px;
        }
        h1 {
            font-size: 20px;
            color: #333;
        }
        img {
            width: 100%;
        }
        .container {

        }
        .container p {
            font-size: 14px;
            overflow: hidden;
            word-wrap: break-word;
            color: #333
        }
        </style>
{$info.des|htmlspecialchars_decode}

</body>
</html>
